@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/NgClient/Scripts/atTheMovies.js"></script>
    <script src="~/NgClient/Scripts/ListController.js"></script>
    <script src="~/NgClient/Scripts/DetailsController.js"></script>
    <script src="~/NgClient/Scripts/movieService.js"></script>
}
<div data-ng-app="atTheMovies">
    <ng-view></ng-view>
</div>