<div ng-controller="DetailController" class="form-horizontal">
<h4>{{movie.Title}}</h4>
<hr />
    <div class="form-group">
        <div class="control-label col-md-2">Year of Publication</div>
        <div class="control-label col-md-6">{{movie.ReleaseYear}}</div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Duration</div>
        <div class="control-label col-md-6">{{movie.RunTime}}</div>
    </div>
    <div class="form-group">

        <a class="btn btn-primary col-md-2 pull-right" href="#/list">Back</a>
    </div>
</div>